<ion-header no-border>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button>
            <ion-icon name="contact"></ion-icon>
          </button>
        </ion-buttons>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          Wisata Nias
        </ion-title>
        <ion-buttons end>
          <button ion-button (click)="doClick()">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen elestic-header>
    <section class="housing-image"
    [ngStyle]="{ 'background-image': 'url(' + estateProperty.image + ')'}">
    </section>

    <div class="card-profile_user-stats">
        <div class="stats-holder">
          <div class="user-stats">
            <strong>Budaya</strong>
            <span>{{user.tweets}}</span>
          </div>
          <div class="user-stats">
            <strong>Wisata</strong>
            <span>{{user.following}}</span>
          </div>
          <div class="user-stats">
            <strong>Akomodasi</strong>
            <span>{{user.followers}}</span>
          </div>
        </div>
      </div>

    <!-- //pinterest -->
    <ion-list-header class="judul">
        Wisata Rekomendasi
      </ion-list-header>
    <div class="pins" padding>
        <ion-card class="pin" *ngFor="let post of posts">
          <img [src]="post.image" />
          <div *ngIf="post.description" class="post-description">
            <small>{{ post.description }}</small>
          </div>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/wisata/nias.png">
            </ion-avatar>
            <small>Wisata Nias</small>
            <p><small>Pariwisata Nias</small></p>
          </ion-item>
        </ion-card>
      </div>
</ion-content>
