page-konfigurasi {

  $black-overlay: rgba(16, 229, 237, 0.3);
  $text-color: #666;
  $banner-text-color: white;
  $content-color: whitesmoke;
  $detail-background: rgba(35, 225, 247, 0.8);

  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
 /* Header */
 .toolbar-background {
     background: rgba(49, 161, 216, 0.67);
     //border-color: transparent;
 }

 .bar-button,
 .toolbar-title {
     color: $banner-text-color;
 }


 //ini untuk map
  page-card-map {
    ion-card.map-image {
      position: relative;
    }
    ion-card.adv-map p {
      font-size: 0.7em !important;
    }
    button[fab].fab-map {
      top: calc(100% - 35px);
      z-index: 50;
    }
    .item-bold {
      font-weight: bold;
    }
    ion-content.cards-bg {
      background-color: #f4f4f7;
    }
  }


//untuk gambar map
/* Image */
.housing-image{
  background-size: cover;
  height: 30vh;
  position: relative;
}

 // HR with text in the middle effect
 .strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.logo {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2%;
}

.login-button {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  span {
    color: #136475 !important;
  }
  // border: 1px solid #fff;
}

//Maps
#floating-panel {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#map {
  background-size: cover;
  height: 40vh;
  position: relative;
}
}
